body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  background-color: #0b124e;
  background-image: radial-gradient(
      circle at left 60%,
      rgba(20, 44, 255, 0.4),
      rgba(20, 44, 255, 0),
      rgba(20, 44, 255, 0),
      rgba(20, 44, 255, 0)
    ),
    radial-gradient(circle at right 60%, rgba(20, 44, 255, 0.4), rgba(20, 44, 255, 0), rgba(20, 44, 255, 0), rgba(20, 44, 255, 0));
  background-attachment: fixed;
}

button {
  font-family: inherit;
}
